doctype html
html(lang="zh-tw")
  head
    meta(charset='UTF-8')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    title KPPoint
    link(href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css')
    link(href='vendor/css/font-awesome.min.css' rel='stylesheet')
    link(href="assets/"+hash+".css" rel="stylesheet")

  body
    .loading
      h1 我的老媽

      p 載入中

    img.img-dachen.fixed(src="static/images/dachen.svg" data-0="transform[sqrt]: scale(18) translate(0, 0px)" data-1000="transform: scale(1) translate(0, 0px)" data-1500="transform[sqrt]: scale(1) translate(0, -500px)")
    header.header-cover.fixed(data-2970="opacity: 1" data-2975="opacity: 0")
      .date-age#birth(data-emit-events data-0="0" data-1000="2")
        .date 1954.11.27
        .age 0 歲

      p(data-850="opacity: 0" data-1000="opacity: 1" data-2400="opacity: 1" data-2700="opacity: 0") 記得姨媽們說，我們家撤離大陳島時，<br>我媽才幾個月大。<br><br>因為太年幼，物資又匱乏<br>我媽差點就被留在大陳島上。

    #skrollr-body
      section.cover
        .scroll-hint
          | 往下捲動<br>
          i.fa.fa-chevron-circle-down

        img.img-retreat(src="static/images/retreat.svg" data-950="opacity: 0" data-1050="opacity: 1")
        img.img-taiwan(src="static/images/taiwan.svg" data-2500="transform: scale(0)" data-2600="transform: scale(1)")

      section.young-age
        div.title-bg
        h2.first.title 媽媽的年輕日子<br>是一場<br>傳奇冒險<br>曲折， 但是<br>精彩

        img.img-zigzag(src="static/images/zigzag.svg")

        .date-age.ccw45(style="text-align: right; margin-left: -80px; top: 590px")
          .date 1974
          .age 20 歲
        .note.cw45(style="margin-left: -194px; top: 883px") 雙馬尾。
        img.img-20(src="static/images/20.png" data-bottom="transform[outCubic]:scale(0) rotate(45deg)" data--100-bottom="transform[outCubic]:scale(1) rotate(45deg)")

        .note.ccw45(style="margin-left: -196px; top: 1163px") 去過新加坡玩。
        img.img-singapore(src="static/images/singapore.png")

        .note.cw45(style="margin-left: 119px; top: 1676px; text-align: right") 還有香港。
        img.img-hk(src="static/images/hongkong.png")

        .note.ccw45(style="margin-left: -190px; top: 2155px") 以及泰國。
        img.img-bangkok(src="static/images/bangkok.png")

        .note.cw45(style="margin-left: -74px; top: 2520px;" data-bottom="opacity: 0" data--75-bottom="opacity: 1") 一直玩一直玩一直玩

        h2.final.title(data-bottom="opacity: 0; transform: translate(0, 0px)" data-100-top="opacity: 1; transform: translate(0, -100px);") 最後，<br>安定下來

        .dot

        .date-age(style="margin-left: -2.4em; top: 3470px; text-align: center;" data-bottom="transform[outCubic]:scale(0)" data--150-bottom="transform[outCubic]:scale(1)")
          .date 1990
          .age 36 歲

        .note(style="margin-left: -2.1em; top: 3550px; text-align: center" data-bottom="transform[outCubic]:scale(0)" data--150-bottom="transform[outCubic]:scale(1)") 翔勝出生

      section.transform
        h2 轉眼間

      section.slogan

        .date-age(data-bottom="transform: rotateY(90deg)" data--150-bottom="transform: rotateY(0deg)")
          .date 2014.11.27
          .age 60 歲

        h2(data-200-bottom="opacity: 0" data-bottom="opacity: 1" style="padding-bottom: 32px")
          | 歲月的痕跡再也藏不住<br><br>
          span(data--300-bottom="opacity: 0" data--400-bottom="opacity: 1") 但心還年輕，偶爾還是會<br>
          span(data--300-bottom="opacity: 0" data--400-bottom="opacity: 1") 留下這樣的瀏覽記錄

        div.browse-history(data-200-bottom="opacity: 0" data-50-bottom="opacity: 1")

        h2(data-200-bottom="opacity: 0" data-bottom="opacity: 1" style="padding-bottom: 32px") 雖然我們有時<br>意見不一樣

        div.book-scared
          img.img-book(src="static/images/book.png" data-100-bottom="transform[bounce]: translate(100%, 0)" data--100-bottom="transform[bounce]: translate(0%, 0)")
          img.img-scared(src="static/images/scared.png" data--150-bottom="transform[outCubic]: scale(0)" data--250-bottom="transform[outCubic]: scale(1)")
          //p(data--150-bottom="opacity:0" data--200-bottom="opacity:1") 註：當期商//業周刊立場 = 挺服貿

          <!-- 柯Ｐ圖來源：柯Ｐ滑出來對你說政見 by kxapp http://goooooooogle.github.io/kp/ -->
          <!-- 連勝文爆橘圖來源：勝文滑出來對你說政見 by QCL. http://qcl.github.io/lien/ -->
        div.candidates
          figure.kp(data-bottom="transform[outCubic]: translate(-100%, 0)" data--150-bottom="transform[outCubic]: translate(0%, 0)")
            img.img-kp(src="static/images/kp.png")
            figcaption
              a(href="http://kptaipei.tw/")
                | 你好，我是柯文哲。
                span.placeholder
                  | 無黨籍我今（10/28）日推出第27支柯P新政田園城市，由台灣第一位獲得美國認證的「園藝治療師」黃盛璘及社區大學全國促進會秘書長楊志彬陪同出席記者會。我認為，希望台北市變成一個可以種田、種菜的城市。...

          figure.lien(data-bottom="transform[outCubic]: translate(100%, 0)" data--150-bottom="transform[outCubic]: translate(0%, 0)")
            img.img-lien(src="static/images/lien.png")
            figcaption
              a(href="http://taipeihope.tw/issue/issue-list/official-policy.html")
                | 你好，我是連勝文。
                span.placeholder
                  | 我提出「適性發展，讓孩子做最好的自己」
                  | 雖然十二年國教的爭議現在已經逐漸平息，但事實上，政府教育的改革現在才正要開始面臨挑戰。根據兒福聯盟公佈的數據表示，目前有...

        h2(data-200-bottom="opacity: 0" data-bottom="opacity: 1" style="padding-top: 0") 但我們還是同屬一家！


        h2(data-200-bottom="opacity: 0" data-bottom="opacity: 1") 一直以來<br><small>（尤其是最近）</small><br>辛苦了

        h2(data-200-bottom="opacity: 0" data-bottom="opacity: 1")
          | 媽媽，生日快樂<br>
          i.cake.fa.fa-birthday-cake

        footer 愛你的兒子 敬上

    script(src="assets/"+hash+".js")
    if process.env.NODE_ENV!=='production'
      script(src="/webpack-dev-server.js")