@import 'nib'

global-reset()
reset-html5()

// http://www.colourlovers.com/palette/3565794/Absent:_biolante
warm-fg = #FF7A73
warm-bg = #eaccb4
grass-light = #d7e9d1
grass = #acc3b1
grass-dark = #526b6b

fold-height = 1000px

html, body
  background grass-dark
  text-align center
  line-height: 1.5
  font-family 'Hiragino Kaku Gothic Pro', 'Droid Sans', 'Roboto', sans-serif
  overflow-x: hidden

small
  font-size: 60%
  opacity: 0.5

.loading
  fixed left 0 top 0
  width: 100%
  height: 100%
  z-index: 100

  background: warm-fg
  font-weight: 900
  text-align: center
  color warm-bg

  opacity: 1
  transition opacity .5s

  h1
    font-size: 32px
    color: #fff
    margin-top 200px


.is-loaded .loading
  opacity: 0

// General style
//
.date-age
  .date
    font-family Lato, sans-serif
    font-size: 32px
    font-weight 900
  .age
    font-size: 16px
    font-weight 300

.title
  font-size: 32px
  font-weight: 300

@keyframes scroll-down-indicator
  from
    transform translate3d(0, 0, 0)
  to
    transform translate3d(0, 20px, 0)

.fixed
  position fixed

// 1st fold
//

.img-dachen
  transform-origin 138px 30px
  top: 20px
  left: 50%
  margin-left: -103px

.header-cover
  width 100%
  > .date-age
    padding-top 200px
    color grass-light

  > p
    color rgba(#fff, .87)
    margin-top: 1em;

section.cover
  // background grass-dark
  height 4000px


  .scroll-hint
    text-align center
    width 100%
    absolute left 0 top 400px
    color #fff
    i
      font-size 48px
      animation scroll-down-indicator 0.7s ease 0s infinite alternate

  .img-retreat
    absolute left 50% top 1300px
    margin-left: -120px
    z-index: 1 // Higher than taiwan

  .img-taiwan
    absolute left 50% top 3020px
    margin-left: -124px

section.young-age
  background: warm-fg
  position relative
  height 3500px

  len = 300px
  .title-bg
    w = len * 1.414
    background: grass-dark
    width: w
    height: w
    absolute left 50% top (w / -2)
    margin-left: (w / -2)
    transform rotate(45deg)

  h2.first
    position relative
    text-align center
    z-index 1
    color warm-fg
    transform translate(0, -32px)

  h2.final
    color grass-dark
    absolute left 50% top 3200px
    margin-left 20px
    text-align left

  .img-zigzag
    absolute left 50% top (len - 8px)
    margin-left: -177px

  .img-20
    absolute left 50% top (len + 367px)
    margin-left: -90px
    transform rotate(45deg)

  .img-singapore
    absolute left 50% top (len + 808px)
    margin-left: -126px
    transform rotate(-45deg)

  .img-hk
    absolute left 50% top (len + 1246px)
    margin-left: -271px
    transform rotate(45deg)

  .img-bangkok
    absolute left 50% top (len + 1781px)
    margin-left: -120px
    transform rotate(-45deg)

  .date-age, .note
    absolute left 50% top len
    whitespace no-wrap

    &.ccw45
      transform rotate(-45deg)

    &.cw45
      transform rotate(45deg)

  .date-age
    color grass-light

  .note
    color rgba(#fff, .87)
    font-weight bold

  .dot
    size = 20px
    width: size
    height: size
    background grass-dark
    absolute left 50% top (len + 3135px)
    margin-left: (size / -2 - 1px)
    border-radius: size

section.transform
  background: linear-gradient(top, warm-fg, #fff)
  height: 700px

  h2
    padding-top 500px
    color grass-dark
    font-size 36px

section.slogan
  background #fff
  position relative
  z-index 0 // stacking context for browse-history

  .date-age
    text-align center
    padding-top: 200px
    color warm-fg

  h2
    padding: 200px 0
    font-size: 24px
    color warm-fg

    > small
      display inline-block
      transform: translate(0, -0.25em)

  .browse-history
    width: 100%
    height: 614px
    background: url(../../static/images/history.png) center bottom no-repeat

  .book-scared
    clearfix()
    position relative

    .img-book
      width: 80%
      max-width: 500px
      float: right

    .img-scared
      width: 35%
      max-width: 200px
      absolute bottom 0 left 0

    p
      absolute right 1em bottom -2em
      color: rgba(#000, .87)
      font-size: 11px

  .candidates

    figure
      position relative
      margin 72px 0

    figcaption
      font-size: 13px
      absolute top 0 left 10px
      right 10px
      bottom 0
      padding: 1em

      background grass-light
      color grass-dark
      text-align center

      border-radius 3px

      a
        display block
        height 100%
        overflow: hidden
        color grass-dark
        text-decoration: none
        position relative

        &:after
          content: ''
          absolute bottom 0 left 0
          width: 100%
          height: 1em
          background linear-gradient(top, rgba(grass-light,0), grass-light)
          pointer-events: none

      a:hover
        text-decoration: underline
        color lighten(grass-dark, 20%)

      &:before
        content ''
        position absolute
        border 10px solid transparent


    .kp
      text-align: left
      figcaption
        left 30%

        &:before
          border-right-color grass-light
          border-bottom-width 0
          right: 100%
          top: 3px

    .lien
      text-align: right
      figcaption
        right 30%

        &:before
          border-left-color grass-light
          border-top-width 0
          left: 100%
          bottom: 3px


    img
      width: 25%

    .img-lien
      transform rotate(-180deg)

  .cake
    margin-top: 1em
    font-size: 64px

  footer
    height 64px
    margin 0 1rem
    text-align: right

.test
  width 200px
  height 200px
  background-image url('../../static/images/test.png')
